<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <style>
        body{
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }
        .main{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: aqua;
        }
        .home{
            letter-spacing: 1px;
            word-spacing: 10px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }
    </style>
    <div class="main">
        <h1 class="home">Welcome to Github Events Viewer!</h1>
    </div>
    
</body>
</html>